@font_base: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
@font_text: 13px/1.5 Inconsolata,Monaco,Courier,fixed;

@lightblue: #edf2fb;
@blue: #4183c4;
@darkblue: #2163a4;
@slate: #666;

body, html { height: 100%; width: 100%; background-color: @lightblue; overflow: hidden; }

/* positioning */
.align_right { text-align: right; }
.auto { width: auto; }
.left { float: left; }
.right { float: right; .align_right; }
.clearfix { clear: both; }

/* block sizes */
.half { width: 50%; .left; }
.quarter { width: 25%; .left; }
.three_quarter { width: 75%; .left; }

/* rounded corners */
.rounded_corners {
  -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}

.rounded_tight {
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.rounded_left {
  -moz-border-radius-topleft: 6px; -moz-border-radius-bottomleft: 6px;
  -webkit-border-top-left-radius: 6px; -webkit-border-bottom-left-radius: 6px;
}

.rounded_right {
  -moz-border-radius-topright: 6px; -moz-border-radius-bottomright: 6px;
  -webkit-border-top-right-radius: 6px; -webkit-border-bottom-right-radius: 6px;
}

.rounded_bottom {
  -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px;
}

.offset_shadow {
  -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
}

.boxy_shadow {
  -moz-box-shadow: -2px 2px 2px rgba(75,75,75,0.35);
  -webkit-box-shadow: -2px 2px 2px rgba(75,75,75,0.35);
}

.shadow_text { text-shadow: 1px 1px 1px #333; }
.shadow_text_tight { text-shadow: 1px 1px 1px rgba(0, 0, 0, .5); }

/*=formy stuff*/

input { font: @font_base; .rounded_tight; }

.button {
  display: inline-block;
  color: #fff; text-decoration: none; font-weight: bold; .shadow_text;
  -moz-box-shadow: -1px 1px 2px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 1px 2px rgba(0,0,0,0.25);
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.35) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
  cursor: pointer; position: relative;

  :active { top: 1px; }
  :hover { background-color: #666; }
}

.button.small { font-size: 85%; }
.button.medium { font-size: 100%; }
.button.large { font-size: 110%; }

.button.slate { background-color: @slate;
 :hover { background-color: @slate - #111; } }
.button.blue { background-color: @blue;
  :hover { background-color: @blue - #111; } }

#choose_repo {
  font-weight: bold;
  background-color: #d9d9d9; border: 1px solid #aaa;
  padding: 1ex; margin-right: 1em;
  color: black;
  text-shadow: 1px 1px 1px white;
  .rounded_bottom;
  .offset_shadow;
  form {
    margin: 0; padding: 0;
    display: inline;
    input[type=text] { padding: .5ex 1ex; border: 1px solid #aaa; width: 20em;}
  }
}

#identity {
  padding: 0.5ex;
  background-color: @blue; border-bottom: 2px solid @darkblue;
  color: white; .shadow_text;
  a {
    color: white; text-decoration: none;
    :visited { color: white; }
  }
  .alpha { font-size: 75%; }
  #product { font-size: 125%; text-transform: uppercase; font-weight: bold; }
  #bookmarklet { padding: 0 1em; margin-top: .75ex; a { color: #fe5;} }
}

#repo_info {
  padding: 1em;
  border: 3px solid white; border-top: 0px;
  background-color: #fffeef;
  .boxy_shadow;

  #description { font-weight: bold; }
  #last_commit { font-style: italic; color: #444; }
}

#tree {
  ul {
    margin: 0; padding: 0;
    li {
      cursor: pointer;
      list-style: none inside;
      margin: 0; padding: 0 0 0 1em;
    }
    li.tree {
      list-style-position: inside;
      list-style-image: url('/images/github-arrow-closed.png');
    }
    li.tree.opened {
      list-style-image: url('/images/github-arrow-opened.png');
    }
    li.tree > .name {  }
  }
}

#tabs {
  .boxy_shadow;
  background-color: #eee; border-top: 1px dotted #ccc; border-bottom: 1px solid #ccc;
  padding: .5ex; font-size: 85%; width: 100%; min-height: 2.25em;
  ul {
    margin: 0; padding: 0; list-style-type: none;

    li {
      display: inline-block; padding: .5ex 0 .5ex 1ex; margin: 0; cursor: pointer;
      
      .close {
        padding: 1ex; margin: 0; color: #888; font-weight: bold;
        :hover { color: #c00; }
      }
    }
    li.selected { .rounded_tight; background-color: @lightblue; border: 1px solid #ccc; }
  }
}

#content_view {
  .boxy_shadow;
  height: 100%;
  overflow: auto;
  background-color: white;
  padding: .5ex 1ex;
  margin: 0;
  #contents {
    font: @font_text;
    border: 0;
    margin: 0;
    padding: 0;
  }
}

#statusbar {
  padding: 1ex 1ex .25ex 1ex;
  background-color: #eee;
  border-top: 1px solid #ccc;
  font-size: 90%;
  
  #shameless {
    color: #444;
    span {
      padding: 0 1ex;
      em { cursor: pointer; text-decoration: underline; }
    }
  }
}

.north, .south, .west, .east, .center { display: inline-block; }
.north { width: 100%; }
.west { width: 20em; height: 100%; overflow: auto; }
.center { }
.south { width: 100%;}

/*.ui-resizable-handle {
  background-color: #BBBBBB;
  border-left: 1px solid #9A9A9A;
  border-right: 1px solid #9A9A9A;
  :hover {
    background-color: #bbbbcd;
    border-left: 1px solid #afafc0;
    border-right: 1px solid #afafc0;
  }
}
 
.ui-resizable-w { left: -6px; width: 4px; }
.ui-resizable-e { right: -6px; width: 4px; }

.ui-resizable-helper-west { border-right: 6px solid #bbbbcd; }
.ui-resizable-helper-east { border-right: 6px solid #bbbbcd; }
*/
