.rounded_corners {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.rounded_corners_left {
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}
.button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  padding: 0.7ex 1ex;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35);
  position: relative;
  cursor: pointer;
}
.button:active { top: 1px; }
.button:hover { background-color: #666666; }
.button .small { font-size: 85%; }
.button .medium { font-size: 100%; }
.button .large { font-size: 1110%; }
.blue.button { background-color: #4499dd; }
.blue.button:hover { background-color: #3388cc; }
.green.button { background-color: #8ea401; }
.green.button:hover { background-color: #7d9300; }
.clearfix { clear: both; }
.left { float: left; }
.half {
  width: 50%;
  float: left;
}
.quarter {
  width: 25%;
  float: left;
}
.three_quarter {
  width: 75%;
  float: left;
}
#repo_info { padding: 1em; }
#repo_info form { display: inline; }
#tree ul {
  margin: 0;
  padding: 0;
}
#tree ul li {
  list-style: none inside;
  margin: 0;
  padding: 0 0 0 1em;
}
#tree ul li.tree { list-style: square inside; }
#files #contents { padding: 1em; }
