body, html {
  height: 100%;
  width: 100%;
  background-color: #edf2fb;
  overflow: hidden;
}
.align_right { text-align: right; }
.auto { width: auto; }
.left { float: left; }
.right {
  float: right;
  text-align: right;
}
.clearfix { clear: both; }
.half {
  width: 50%;
  float: left;
}
.quarter {
  width: 25%;
  float: left;
}
.three_quarter {
  width: 75%;
  float: left;
}
.rounded_corners {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.rounded_tight {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.rounded_left {
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
}
.rounded_right {
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}
.rounded_bottom {
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}
.offset_shadow {
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}
.boxy_shadow {
  -moz-box-shadow: -2px 2px 2px rgba(75, 75, 75, 0.35);
  -webkit-box-shadow: -2px 2px 2px rgba(75, 75, 75, 0.35);
}
.shadow_text { text-shadow: 1px 1px 1px #333333; }
.shadow_text_tight { text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
input {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.button {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 1px #333333;
  -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.35) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
}
.button:active { top: 1px; }
.button:hover { background-color: #666666; }
.button.small { font-size: 85%; }
.button.medium { font-size: 100%; }
.button.large { font-size: 110%; }
.button.slate { background-color: #666666; }
.button.slate:hover { background-color: #555555; }
.button.blue { background-color: #4183c4; }
.button.blue:hover { background-color: #3072b3; }
#choose_repo {
  font-weight: bold;
  background-color: #d9d9d9;
  border: 1px solid #aaaaaa;
  padding: 1ex;
  margin-right: 1em;
  color: black;
  text-shadow: 1px 1px 1px white;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}
#choose_repo form {
  margin: 0;
  padding: 0;
  display: inline;
}
#choose_repo form input[type=text] {
  padding: 0.5ex 1ex;
  border: 1px solid #aaaaaa;
  width: 20em;
}
#identity {
  padding: 0.5ex;
  background-color: #4183c4;
  border-bottom: 2px solid #2163a4;
  color: white;
  text-shadow: 1px 1px 1px #333333;
}
#identity a {
  color: white;
  text-decoration: none;
}
#identity a:visited { color: white; }
#identity #product {
  font-size: 125%;
  text-transform: uppercase;
  font-weight: bold;
}
#identity .alpha { font-size: 75%; }
#repo_info {
  padding: 1em;
  border: 3px solid white;
  border-top: 0px;
  background-color: #fffeef;
  -moz-box-shadow: -2px 2px 2px rgba(75, 75, 75, 0.35);
  -webkit-box-shadow: -2px 2px 2px rgba(75, 75, 75, 0.35);
}
#repo_info #description { font-weight: bold; }
#repo_info #last_commit {
  font-style: italic;
  color: #444444;
}
#tree ul {
  margin: 0;
  padding: 0;
}
#tree ul li {
  cursor: pointer;
  list-style: none inside;
  margin: 0;
  padding: 0 0 0 1em;
}
#tree ul li.tree {
  list-style-position: inside;
  list-style-image: url('/images/github-arrow-closed.png');
}
#tree ul li.tree.opened { list-style-image: url('/images/github-arrow-opened.png'); }
#tabs {
  -moz-box-shadow: -2px 2px 2px rgba(75, 75, 75, 0.35);
  -webkit-box-shadow: -2px 2px 2px rgba(75, 75, 75, 0.35);
  background-color: #eeeeee;
  border-top: 1px dotted #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 0.5ex;
  font-size: 85%;
  width: 100%;
  min-height: 2.25em;
}
#tabs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#tabs ul li {
  display: inline-block;
  padding: 0.5ex 1ex;
  margin: 0;
  cursor: pointer;
}
#tabs ul li.selected {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #edf2fb;
  border: 1px solid #cccccc;
}
#content_view {
  -moz-box-shadow: -2px 2px 2px rgba(75, 75, 75, 0.35);
  -webkit-box-shadow: -2px 2px 2px rgba(75, 75, 75, 0.35);
  height: 100%;
  overflow: auto;
  background-color: white;
  padding: 0.5ex 1ex;
  margin: 0;
}
#content_view #contents {
  font: 13px/1.5 Inconsolata, Monaco, Courier, fixed;
  border: 0;
  margin: 0;
  padding: 0;
}
#statusbar {
  padding: 1ex 1ex 0.25ex 1ex;
  background-color: #eeeeee;
  border-top: 1px solid #cccccc;
  font-size: 90%;
}
#statusbar #shameless { color: #444444; }
#statusbar #shameless span { padding: 0 1ex; }
#statusbar #shameless span em {
  cursor: pointer;
  text-decoration: underline;
}
.north, .south, .west, .east, .center { display: inline-block; }
.north { width: 100%; }
.west {
  width: 20em;
  height: 100%;
  overflow: auto;
}
.south { width: 100%; }
